**.vagrant
*.log
**.DS_Store
*.zip
**.terraform
**.tfstate
**.backup
**.rli
SUMMARY.md
sonarqube/logs**
sonarqube/data/es6**
sonarqube/data/sonar.lock.db
jenkins/jenkins_home/jobs/*/builds*
jenkins/jenkins_home/workspace/*/.git*
jenkins/jenkins_home/logs*
jenkins/jenkins_home/updates/*
jenkins/jenkins_home/.java/fonts/*
jenkins/jenkins_home/queue.xml
jenkins/jenkins_home/war**
jenkins/jenkins_home/nodes**
jenkins/jenkins_home/jobs**
jenkins/jenkins_home/secrets**
jenkins/jenkins_home/.owner
**packer_cache*
hashicorp/packer/windows/output**
hashicorp/packer/windows/ansible/connection_plugins/__pycache__**
**.box
**.iso
