**.vagrant
*.log
**.DS_Store
*.zip
**.terraform
**.tfstate
**.backup
**.rli
**.lock**
sonarqube/logs**
sonarqube/data/es6**
sonarqube/data/sonar.lock.db
jenkins/jenkins_home/**
**packer_cache*
hashicorp/packer/windows/output**
hashicorp/packer/windows/ansible/connection_plugins/__pycache__**
**.box
**.iso
