.venv
*.swp
*.retry
.DS_Store
.vscode-root
test.yml
tests/local-test.yml
tests/.vagrant
tests/Vagrantfile
tests/test-inv
tests/*.html
tests/*.txt
tests/*.retry
.Python
.molecule/
bin/
/etc/
include/
lib/
pip-selfcheck.json
share/
inventory
.vagrant
packer_cache
output-virtualbox-iso/
**.log
**.box
**.iso
variables.json
# MS VS IDE
.code-workspace
ansible-venv/
packer/winrm-listener
packer/inventory-tmp.yml
